[SddmGreeterTheme]
Name=Onyx
Description=Orbital clockwork login theme
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
Version=0.1.4-mvp
QtVersion=6
