[SddmGreeterTheme]
Name=Onyx
Description=Orbital clockwork login theme
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
Version=0.2.0-alpha.4
QtVersion=6
X-SDDM-ThemeName=Onyx
